body { font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; color: #5e5e5e; }

.list-item:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; background-color: #9e9e9e; font-size:14px; color: #ffffff; }
.list-item { background-color: #fff; border: 1px solid #ddd; display: block; margin-bottom: -1px; padding: 5px 10px; position: relative; font-size:14px; }
.list-subitem { display: inline-block; width: 45%; margin: 0; padding: 0; vertical-align: top; /* In case multi-word categories form two lines */ font-size:14px; }
.list-subitem::before { padding: 0px; display: inline-block; font-size:14px; }
.list-container { width: 908px; }
.list-container-ul { margin:10px 0px; padding:0px; }
.head-container   { width: 908px; border-radius: 4px; border: 1px solid #ccc; margin:0px; padding:4px 0px; text-align: center; }
.footer-container { font-size:10px; text-align: right; }
#container { margin: 0 auto; max-width: 960px; padding: 0px 25px; }


.mauro {}
canvas { }
#label { border-radius: 4px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; width: 900px; padding: 10px 30px; margin: 10px 20px; border: 1px solid #318a1c; }

#detail { text-align: center; font-size: 25px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px; }
#select { font-style: italic; font-size: 18px; font-family: Arial, Helvetica, sans-serif; margin: 5px 0; text-align: center; }
#break { clear: both; }
#prev { text-align: left; padding: 0px 5px; }
#data1 { text-align: center; font-style: italic; font-size: 20px; font-family: Arial, Helvetica, sans-serif; vertical-align: center; }
#next { text-align: right; padding: 0px 5px; }
#pulsante { width:295px; margin: 5px 0px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: bold 18px Arial, Helvetica, sans-serif;
            color: #fff; padding: 10px 20px; border: solid 1px #4dae23; background: #4dae23; background: -webkit-gradient(linear, left top, left bottom, from(#87f638), to(#4dae23));
            background: -webkit-linear-gradient(top,  #87f638,  #4dae23); background: -moz-linear-gradient(top,  #87f638,  #4dae23); background: -ms-linear-gradient(top,  #87f638,  #4dae23);
            background: -o-linear-gradient(top,  #87f638,  #4dae23); background: linear-gradient(top,  #87f638,  #4dae23); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#pulsante:hover { background: #87f638; background: -webkit-gradient(linear, left top, left bottom, from(#4dae23), to(#87f638)); 
                  background: -webkit-linear-gradient(top,  #4dae23,  #87f638); background: -moz-linear-gradient(top,  #4dae23,  #87f638);
                  background: -ms-linear-gradient(top,  #4dae23,  #87f638); background: -o-linear-gradient(top,  #4dae23,  #87f638);
                  background: linear-gradient(top,  #4dae23,  #87f638);
                }
#pulsante:active { position: relative; top: 1px; }
